body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 1.8;
  color: #6c6c6c;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #6c6c6c;
}

h1, h2, h3, h4, h5 {
  color: #000;
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 1.25em;
}
a {
  text-decoration: none;
  color: #1f596d;
  font-weight: bold;
}


img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

nav {
  width: 100%;
  background: #1f596d;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
}

.tiny {
  font-size: 12px;
  max-width: 100%;
  margin: 1.5em auto;
}

@media (min-width: 768px) {
  /* For desktop: */
  .content {
    width: 60%;
  }
  .tiny {
    font-size: 12px;
    max-width: 90%;
    margin: 1.5em auto;
  }
}
